version: '3.8'
services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: matchairlines_db
    volumes:
      - ./backend/volumes/postgres/data:/var/lib/postgresql/data 
    ports:
      - "5432:5432"

  frontend:
    build:
      context: ./frontend 
    container_name: frontend_app
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    depends_on:
      - db