
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255);
}
header { 
    background: rgb(1, 96, 204);
    color: #0084ff;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
} 
.nav-item {
    color:rgb(0, 140, 255);
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;

}
.banner {

    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../recursos/fondo_trionda.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(0, 0, 255);
    text-align: center;
    padding: 20px;

}
.container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;

}
.card {
    background:white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px black

}
.card h3 {
    margin-top: 0;
    color:rgba(1, 96, 204);

}
footer{
    background:blue;
    color:white;
    text-align:center;
    padding: 15px;
    margin-top: 30px;
}