
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: wheat;
}
header { 
    background: blue;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-item {
    color:white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;

}
.banner {

    background:lineal-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../recursos/fondo_trionda.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
    padding: 20px;

}
.container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,lfr));
    gap: 20px;

}
.card {
    background:white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px black

}
.card h3 {
    margin-top: 0;
    color:blue;

}
footer{
    background:blue;
    color:white;
    text-align:center;
    margin-top: 30px;
}