
:root{
    --f-background-color: #ffffff;
    --s-background-color: #efe4c7;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255);
}

.nav-item {
    color:rgb(0, 140, 255);
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;

}body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #004a99;
    margin-bottom: 25px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

#equipo-selector {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    appearance: none; /* Oculta el estilo por defecto en algunos navegadores */
    background-color: #eee;
}

.ruta-display {
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    margin-top: 30px;
    min-height: 100px;
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.ruta-display.active {
    border-color: #00aaff; /* Borde más llamativo al tener información */
    background-color: #e6f7ff;
}

.nota {
    font-size: 0.8em;
    color: #777;
    margin-top: 15px;
}
.banner {

    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../sources/fondo_trionda_2.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color:rgb(0, 0, 255);
    text-align: center;
}

.container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, lfr));
    gap: 20px;

}
.card {
    background:white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px black
}
.card h3 {
    margin-top: 0;
    color:rgba(1, 96, 204);

}
.vuelo-card {
   background: rgb(195, 193, 193);
    grid-template-columns: repart(auto-fit,minmax(300px, lfr));
    padding: 10px;

    border-radius: 12px;
    box-shadow: 0 4px 10px black

}

footer{
    background:blue;
    color:white;
    text-align:center;
    padding: 15px;
    margin-top: 30px;
}

